.about-section{
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap : 24px;
    background: linear-gradient(to left, rgb(177, 232, 177), rgb(27, 116, 27));
}

.about-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-right {
    width: calc(50% - 20px); /* Adjust for gap between columns */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.about-image-content{
    /* width: 60%;
    max-width: 100%; */
    margin-bottom: 200px;
    text-align: center;
}

.about-image1 {
    width: 80%;
    height: auto;
}

.about-text-content{
    flex-grow: 1;
}

.about-title{
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.about-title > span{
    position: relative;
}

.about-title span::before {
    content: '';
    position: absolute;
    width: 78%;
    height: 6px;
    background-color: #9D2553;
    border-radius: 15px;
    left: 0;
    bottom: -3px;
}

.about-description{
    margin: 32px 0;
    color : rgb(0, 0, 0);
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 1.7rem;
}


.about-text-title{
    margin: 30px 0 24px 0;
    color : rgb(0, 0, 0);
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.about-text-step{
    margin: 16px 0;
}

.about-text-sTitle{
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.about-text-description{
    margin: 8px 24px;
    color : rgb(0, 0, 0);
    font-family: 'Rubik',sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.6rem;
    font-weight: bold;
    font-size: 16px;
}

.APMC-btn {
    width: 100%;
    padding: 14px 20px;
    color: white;
    border: 1px solid transparent;
    border-radius: 28px;
    outline: transparent;
    background-color: #2f2f2f;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1.8px;
    cursor: pointer;
    transition: all .4s ease;
}

.APMC-btn:hover {
    color: black;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid #2f2f2f;
}



.fa-icon {
    color: brown;
}

@media screen and (max-width: 1000px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .about-left,
    .about-right {
        width: 100%;
    }

    .about-image1 {
        width: 100%;
        height: auto;
    }
}
