.article-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card-row{
    display: flex;
    justify-content: center;
}

