.fertilizer-section{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 24px;
    background-color: white;
}

.fertilizer-image-content{
    width: 50%;
    max-width: 100%;
    text-align: center;
}

.fertilizer-image1{
    width: 80%;
    height: auto;
}

.fertilizers-text-content{
    width: 50%;
}

.fertilizers-title{
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.fertilizers-title > span {
    position: relative;
}

.fertilizers-title span::before{
    content: '';
    position: absolute;
    width: 78%;
    height: 6px;
    background-color: #9D2553;
    border-radius: 15px;
    left: 0;
    bottom: -3px;
}

.fertilizers-description{
    margin: 32px 0;
    color : rgb(0,0,0);
    font-family: 'Rubik',sans-serif;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.8rem;
}

.Fertilizers-btn{
    padding: 14px 20px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    border: 1px solid transparent;
    border-radius: 28px;
    outline: transparent;
    background-color: #2e5b1a;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1.8px;
    cursor: pointer;
    transition: all .4s ease;
}

.Fertilizers-btn:hover {
    color: black;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid #2f2f2f;
}