.student-section{
    padding: 32px;
    margin: 0 0 32px 0;
    text-align: center;
    background-color: white;
}

.student-title-content{
    margin: 0 0 64px 0;
}

.student-title{
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .7px;
}

.student-title > span{
    position: relative;
}

.student-title span::before{
    content: '';
    position: absolute;
    width: 78%;
    height: 6px;
    background-color: #9D2553;
    border-radius: 15px;
    left: 0;
    bottom: -3px;
}

.student_description{
    margin: 64px auto 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.8rem;
}

.student-cards-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 102px;
}

.student-card{
    width: 422px;
    height: 340px;
    gap: 32px;
    text-align: center;
    font-family: 'Rubik',sans-serif;
}

.student-card-image{
    width: 100%;
    height: 310px;
    padding: 5px 50px 0;
    background-position: center;
    background-color: #d3f8d6;
    border-radius: 25px;
}

.student-card-name{
    margin: 12px 0px 0px 0px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.student-card-title{
    margin: 6px 0 8px;
    color : #494949;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
}

@media screen and (max-width: 700px) {
    .student-title {
        font-size: 32px;
    }
    .student_description {
        margin: 48px 0 0;
        font-size: 18px;
    }
}